<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006571698722-4vjf68ev9h85l607t6cb4gacesk5s94h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006571698722-4vjf68ev9h85l607t6cb4gacesk5s94h</string>
	<key>API_KEY</key>
	<string>AIzaSyAHo41gVVKs4TQQnV1XX393yieKU1bD6Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>1006571698722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsChat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-89a18</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-89a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006571698722:ios:fee32074d61efc7230a87b</string>
</dict>
</plist>